a{
    text-decoration-line: none;
}
#top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: visible;
    min-width: 100%;
}

/* eat together */
#eat-together{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 100%;
    margin: 0;
}
#eat-together>img{
    float: left;
    width: 50%;
    object-fit: contain;
}
#eat-text{
    margin-top: 25%;
    margin-bottom: 25%;
    text-align: center;
}
#row1,#row2{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    min-width: 100%;
}
#row1 img,#row2 img{
    display: inline;
    width: 33.33%;
    float: left;
    bottom: 0;
    margin-left: 0;
}
#row1 h6,#row2 h6{
    text-align: start;
    margin-left: 20%;
    margin-bottom: 2%;
}
#row1 p,#row2 p{
    display: inline-block;
    text-align: right;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
/* individual boxes: images */
#img1,#img2,#img3,#img4,#img5,#img6{
    border-bottom-right-radius: 25%;
}
#imgz{
    float: left;
    width: 50%;
    height: auto;
    display: inline;
    padding: 5px;
}

#hotdeals h1{
    text-align: center;
}
#hotdeals{
    background-color: #C9ECB5;
    height: auto;
}

#contactus{
    clear: both;
}